.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.social-btns a {
  text-decoration: none;
  display: inline-block;
  margin: 0 50px;
  perspective: 200px;
}

.social-btns .box {
  --box-size: 150px;
  display: block;
  height: var(--box-size);
  width: var(--box-size);
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(calc(var(--box-size) / -2));
  pointer-events: none;
  transition: transform 0.5s ease;
}

.social-btns a:hover .box {
  transform: translateZ(calc(var(--box-size) / -2)) rotateX(90deg);
}

.social-btns .face {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-btns .front {
  background-color: hsl(0, 0%, 97%);
  color: hsl(240, 6%, 16%);
  transform: translateZ(calc(var(--box-size) / 2));
}

.social-btns .bottom {
  background-color: #FFA500;
  color: hsl(0, 0%, 97%);
  transform: translateY(50%) rotateX(-90deg);
}

.social-btns .fab {
  font-size: 40px;
}

.contact-info {
  /* bottom: auto; */
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-info .text p {
  margin: 0;
}

.contact-info .icon {
  display: inline-block;
  margin-right: 5px;
}


.contact-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #FFA500;
  color: hsl(0, 0%, 97%);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.contact-btn:hover {
  background-color: #FF8C00;
}


/* Mã CSS create font */
.form {
  text-align: center;
  }
  #form1 {
  width: 600px;
  background: #fff;
  margin: 0 auto;
  }
  #form1 input[type=text] {
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  color: #555;
  display: block;
  line-height: 1.2;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 10px;
  height: 50px;
  padding: 0 20px 0 23px;
  border: 0;
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 5%);
  -moz-box-shadow: 0 5px 20px 0 rgba(0,0,0,.05);
  -webkit-box-shadow: 0 5px 20px 0 rgb(0 0 0 / 5%);
  -o-box-shadow: 0 5px 20px 0 rgba(0,0,0,.05);
  -ms-box-shadow: 0 5px 20px 0 rgba(0,0,0,.05);
  }
  #form1 input[type=text]:focus{
  border: 0;
  outline: none;
  box-shadow: 0 5px 20px 0 rgb(250 66 81 / 10%);
  -moz-box-shadow: 0 5px 20px 0 rgba(250,66,81,.1);
  -webkit-box-shadow: 0 5px 20px 0 rgb(250 66 81 / 10%);
  -o-box-shadow: 0 5px 20px 0 rgba(250,66,81,.1);
  -ms-box-shadow: 0 5px 20px 0 rgba(250,66,81,.1);
  }
  #form1 #fcontent {
  outline: none;
  min-height: 150px;
  }
  #form1 input[type=submit] {
  background-color: #bd59d4;
  height: 42px;
  padding: 5px 20px;
  border-radius: 21px;
  font-size: 14px;
  text-tranforms: uppercase;
  color: #fff;
  border: 0;
  box-shadow: 0 10px 30px 0 rgb(189 89 212 / 50%);
  -moz-box-shadow: 0 10px 30px 0 rgba(189,89,212,.5);
  -webkit-box-shadow: 0 10px 30px 0 rgb(189 89 212 / 50%);
  -o-box-shadow: 0 10px 30px 0 rgba(189,89,212,.5);
  -ms-box-shadow: 0 10px 30px 0 rgba(189,89,212,.5);
  }
  #form1 input[type="submit"]:hover {
  background:#CC4949;
  }