:root {
  --blue: #ffffff;
  /* --dark-blue: #226c9a; */
  --dark-blue: #008080;
  --nav: #fcfcfc;
  /* --nav:#ccdeec; */
}
.white-text {
  color: rgb(229, 229, 229);
}

.color {
  color:#333333;
}

.about-color {
  color: #006699; 
}

/* Cursor Creation */
.cursor {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  /* border: 1px solid rgb(240, 161, 14); */
  border: 1px solid #006699;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  /* Thay đổi giá trị left và top để đặt vị trí mặc định */
  left: -20px;
  top: -20px;
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  /* background-color: rgb(251, 202, 26); */
  background-color: rgb(45, 210, 255);
  opacity: 0.3;
  position: fixed;
  /* Thay đổi giá trị left và top để đặt vị trí mặc định */
  left: -10px;
  top: -10px;
  pointer-events: none;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
}


/* Hiệu ứng text ban đầu: */
.typewriter h2 {
  color: #000000;
  font-family: monospace;
  overflow: hidden;
  /* border-right: .15em solid rgb(249, 248, 245); */
  border-right: .15em solid rgb(0, 0, 0);
  white-space: nowrap;
  margin: 100; /* Thay đổi margin thành 0 để hiển thị bên trái */
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(30, end);
    /* blink-caret .50s step-end infinite; */
  
  font-size: 24px; /* Kích thước chữ lớn hơn */
}


.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  /* border-right: .15em solid orange; */
  /* border-right: .15em solid rgb(0, 0, 0); */
  white-space: nowrap;
  margin: 100; /* Thay đổi margin thành 0 để hiển thị bên trái */
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(30, end);
    /* blink-caret .50s step-end infinite; */
  
  font-size: 39px; /* Kích thước chữ lớn hơn */
}



/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

/* Background */
.background-image {
  background-image: url('Photo/1.jpg'); /* Đường dẫn tới hình ảnh bạn muốn sử dụng làm nền */
  background-size: cover; /* Tự động điều chỉnh kích thước hình ảnh để nó phù hợp với kích thước thẻ */
  background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh nếu cần */
  /* Các thuộc tính khác tùy thuộc vào yêu cầu của bạn */
}

.background-image1 {
  background-image: url('Photo/45.jpg'); /* Đường dẫn tới hình ảnh bạn muốn sử dụng làm nền */
  background-size: cover; /* Tự động điều chỉnh kích thước hình ảnh để nó phù hợp với kích thước thẻ */
  background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh nếu cần */
}

/* .background-image2 {
  background-image: url('Photo/61.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
} */

.background-image3 {
  background-color: #ECE2D0;
  background-size: cover;
  background-repeat: no-repeat;
}


* {
  margin: 0;
  padding: 0;
  transition: 0.2s linear;
  text-decoration: none;
  font-family: 'Lora', serif;
  /* font-family: Helvetica; */
  color: black;
  scroll-behavior: smooth;
  font-size: 1rem;
  box-sizing: border-box;
  /* box-sizing: border-box; */
  /* overflow-x: hidden; */
}

/* Style the video */
video {
  max-width: 100%;
  height: auto;
}

html, body {
  margin: 0;
  padding: 0;
}




     
/* Mục home  */
.home {
  background-image: url("Photo/61.jpg");
  /* background-image: url("adrian-korte-5gn2soeAc40-unsplash.jpg"); */
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}



.home-contents {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: center;
}

/* Các thanh đầu */
.navbar {
  width: 100vw;
  overflow: auto;
  white-space: no-wrap;
  height: 8vh;
  /* background: rgba(225, 231, 234, 0.6); Màu trong suốt mờ (điều chỉnh giá trị alpha) */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  backdrop-filter: blur(20px); /* Độ mờ cho nền trong suốt (điều chỉnh giá trị) */
}

/* Thêm hiệu ứng dấu gạch chân động */
.navbar a {
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease; /* Thêm hiệu ứng chuyển đổi */
}

.navbar a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 100%; /* Bắt đầu với độ rộng 0% */
  height: 2px;
  background-color: #199fcf; /* Màu gạch chân khi di chuột vào */
  transition: right 0.3s ease; /* Thêm hiệu ứng chuyển đổi chiều rộng */
}

.navbar a:hover::before {
  right: 0; /* Khi di chuột vào, tăng chiều rộng về 100% */
}


.nav-logo {
  margin-left: 40px;
  font-weight: bolder;
  font-size: 1.8rem;
  /* font-family: 'Lobster', cursive;*/
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Playfair Display', serif;
  color: #052305;
}

.nav-logo1 {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  font-size: 45px;
  font-family: 'Lobster', cursive;
  color: rgb(236, 241, 250);
  font-weight: 900;
}


.nav-contents {
  display: flex;
}

.nav-contents a {
  font-size: 1.5em;
  margin: 20px;
}

.con {
  margin-left: 100px;
}

/* Khi nhấn vào nội dung thì nó chuyển sang màu */
.nav-contents a:hover {
  /* color:  rgb(0, 255, 0);  */
  color: #0f8abe; 
  /* color: rgb(232, 82, 40);  */

  transform: scale(1.1);
}




/* Search bar  */
.nav-search {
  display: flex;
  align-items: center;
  margin-right: 40px;
  /* background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5)); Màu nền gradient trong suốt */
  padding: 8px;
  border-radius: 4px;
}

.search-input {
  width: 180px;
  border: none;
  padding: 8px;
  border-radius: 4px;
  background-color: transparent; /* Đặt màu nền trong suốt */
}

.search-button {
  /* background-color: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5)); */
  color: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5));
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  margin-left: 8px;
  cursor: pointer;
}

/* Dấu gạch chân động khi di chuột vào */
#portNavbar .nav-item::after {
  content: "";
  width: 0;
  height: 2px;

  background-color: #35a22c;

  display: block;

  transition: all 0.5s;
}





/* button Shop Now */
.shop-now-btn {
  width: 150px;
  height: 40px;
  border-radius: 30px;
  align-self: center;
  margin-top: 20px;
  border: 0.5px solid var(--dark-blue);
  text-align: center;
}

.shop-now-btn:hover {
  background-color:  #66CCFF;
  /* background-color:rgb(164, 162, 162); */
  transform: scale(1.08);
}

.Headings {
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 10px;
}

/* PHần products */
.products-bar {
  height: 15vh;
  /* background-color: var(--dark-blue); */
  background-color: #ebe4df;
}

/* Chỉnh product */
.products {
  height: 84vh;
  /* background-color: #e1e4eb; */
  background-color: #ebe4df;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products-row1 {
  width: 100vw;
  display: flex;
  margin-top: 50px;
  justify-content: center; /* Để căn giữa theo chiều ngang */
  align-items: center; /* Để căn giữa theo chiều dọc */
}

.products-row1 button {
  margin: 0px 10px; /* Điều chỉnh khoảng cách giữa các button */
  padding: 10px 20px;
  background-color: transparent;
  color: rgb(15, 1, 1);
  border: 2px solid rgb(13, 20, 22);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.products-row1 button:hover {
  background-color: #FFA500; /* Màu nền khi di chuột qua */
  color: rgb(0, 0, 0); /* Màu chữ khi di chuột qua */
}


.products-row1 div {
  margin: 0px 100px;
}

.products-row1 a {
  margin: 0px 100px;
  
}

.products-row1 a:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: var(--dark-blue);
}

.products-row2 {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.products-box {
  background-color: var(--blue);
  border-radius: 20px;
  height: 320px;
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 2.5vh;
  border: 1px solid black;

}

.products-box img {
  width: 220px;
  border-radius: 20px;
  align-self: center;
  border: 1px solid black;
}

.products-btn {
  background-color: var(--dark-blue);
  border-radius: 20px;
  height: 30px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Màu chữ bottom trong box  */
.products-btn a {
  color: var(--nav);
}

.products-btn a:hover {
  transform: scale(1.11);
  cursor: pointer;
  color: white;
}
.products-end{
  width: 100vw;
  height: 6vh;
  margin-top: 110px;
  background-color: var(--dark-blue);
}

/* Đoạn chèn ảnh vào giữa page 1 */
.video-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carouselPort__avatar {
  position: absolute;
  top: 45%;
  left: 85%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 140px;
  background: rgba(255, 255, 255, 0);
  border: 7px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  backdrop-filter: blur(3px);
}

.carouselPort__avatar img {
  background: rgba(255, 255, 255, 0.2);
  border: 7px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 100%;
}

.container.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
